body {
    padding: 3rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 25% 70%;
    width: 100%;
    margin: 30px auto;
    grid-gap: 1rem;
    background-color: #ff6d6d;
    border-radius: 3px;
    font-family: "Lucida Console", Monaco, monospace;
    justify-content: center;
}

pre {
    color: #fff;
    background-color: #333;
    padding: 1vw;
    overflow-x: auto;
}

code {
    font-size: 0.9rem;
    font-family: "Lucida Console", Monaco, monospace;
}